@model ListDataView

@{
    ViewBag.Title = "Create Car";
}

<h2>Create Car</h2>

@using (Html.BeginForm("SubmitForm", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCarBrandId, "Car Brand")
        @Html.DropDownListFor(m => m.SelectedCarBrandId, Model.CarBrands, "-- Select Car Brand --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCarModelId, "Car Model")
        @Html.DropDownListFor(m => m.SelectedCarModelId, Model.CarModels, "-- Select Car Model --", new { @class = "form-control" })
    </div>
    <button  type="submit" class="btn btn-primary">Create</button>
}